In [2]:
import numpy as np
import pandas as pd

In [3]:
arr1 = np.array([5,3])

In [4]:
arr2 = np.array([[1, 2, 3], [4, 5, 6]])

In [5]:
arr3 = np.array([[1, 2, 3], [4, 5, 6], [4, 9, 6]])

In [8]:
print("Shape:", arr1.shape) 
print("Shape:", arr2.shape) 
print("Shape:", arr3.shape) 
    
print("Dimensions:", arr1.ndim)      
print("Dimensions:", arr2.ndim) 
print("Dimensions:", arr3.ndim) 

print("Data type:", arr1.dtype)     
print("Data type:", arr2.dtype) 
print("Data type:", arr3.dtype) 

print("Size:", arr1.size)    
print("Size:", arr2.size) 
print("Size:", arr3.size) 

print("Type:", type(arr1))  
print("Type:", type(arr2)) 
print("Type:", type(arr3))

Shape: (2,)
Shape: (2, 3)
Shape: (3, 3)
Dimensions: 1
Dimensions: 2
Dimensions: 2
Data type: int64
Data type: int64
Data type: int64
Size: 2
Size: 6
Size: 9
Type: <class 'numpy.ndarray'>
Type: <class 'numpy.ndarray'>
Type: <class 'numpy.ndarray'>

In [9]:
df = pd.DataFrame(arr3, columns=["A", "B", "C"])

In [10]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  4  9  6

In [11]:
arr = np.ones((10,2))
arr

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])

In [12]:
zerosArr = np.zeros((7, 2, 3))
zerosArr

array([[[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]]])

In [13]:
rangeArr = np.arange(0,100, 3)
rangeArr

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48,
       51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99])

In [15]:
randArr= np.random.randint(0, 11, size=(7,2))
randArr

array([[ 5, 10],
       [ 5,  7],
       [ 4,  0],
       [ 6, 10],
       [ 9,  8],
       [ 5,  3],
       [ 6,  3]])

In [16]:
floatsArr = np.random.rand(3,5)
floatsArr

array([[0.10040991, 0.581036  , 0.73597126, 0.92368347, 0.62077753],
       [0.97071878, 0.07503529, 0.40368639, 0.41837074, 0.72595802],
       [0.76629603, 0.48509655, 0.25537226, 0.86147646, 0.38997907]])

In [20]:
np.random.seed(42)
seedArray = np.random.randint(0, 11, size= (4,6))
seedArray

array([[ 6,  3, 10,  7,  4,  6],
       [ 9,  2,  6, 10, 10,  7],
       [ 4,  3,  7,  7,  2,  5],
       [ 4,  1,  7,  5,  1,  4]])