In [1]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
np.random.seed(0)
#number of jars sold
sales_amounts = np.random.randint(20, size=(5,3))
sales_amounts

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7]])

In [6]:
#weekly sales data frame
weekly_sales = pd.DataFrame(sales_amounts, index = ["Mon", "Tues", "wen", "Thurs", "Fri"], 
                           columns = ["Almond butter", "Peanut butter", "Cashew butter"])
weekly_sales

       Almond butter  Peanut butter  Cashew butter
Mon               12             15              0
Tues               3              3              7
wen                9             19             18
Thurs              4              6             12
Fri                1              6              7

In [11]:
#create prices array
prices = np.array([10,8,12])

#create data frame
butter_prices = pd.DataFrame(prices.reshape(1,3), index= ["Price"], 
                            columns = ["Almond butter", "Peanut butter", "Cashew butter"])
butter_prices

       Almond butter  Peanut butter  Cashew butter
Price             10              8             12

In [ ]:
#align shapes

In [13]:
#align shapes
total_sales = prices.dot(sales_amounts.T)
total_sales

array([240, 138, 458, 232, 142])

In [14]:
#create daily sales
butter_prices.shape, weekly_sales.shape

((1, 3), (5, 3))

In [17]:
weekly_sales.T.shape

(3, 5)

In [18]:
daily_sales = butter_prices.dot(weekly_sales.T)

In [21]:
daily_sales.shape

(1, 5)

In [22]:
weekly_sales["Total"] = daily_sales.T
weekly_sales

       Almond butter  Peanut butter  Cashew butter  Total
Mon               12             15              0    240
Tues               3              3              7    138
wen                9             19             18    458
Thurs              4              6             12    232
Fri                1              6              7    142